{% extends "layout.html" %}
{% block head %}
	<title>{{ podcastid[1] }} | Administration</title>{% endblock %}
{% block body %}
		<div class="container">
<div id="map"><a href="{{ url_for('admin.show_casts') }}">Cast Administration</a> &raquo; <a href="{{ url_for('admin.show_eps', castname=podcastid[1]) }}">{{ podcastid[1] }}</a> &raquo; View cast episodes</div><br />
{% if list %}
<table class="podcast-table">
	<tr class="podcast-header"><td>Episode name</td><td>Episode description</td><td>Podcast file</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
{% for item in list %}
	<tr class="podcast-row"><td>{{ item[0] }}</td><td>{{ item[1] | safe }}</td><td><a href="{{ item[2] }}">Download</a></td><td><audio controls><source src="{{ item[2] }}">This file format is not supported by your browser.</audio></td><td><a href="{{ url_for('admin.delete_ep', castname=castname, epname=item[0]) }}">Delete episode</a></td><td><a href="{{ url_for("admin.edit_ep", castname=castname, epname=item[0]) }}">Edit episode</a></td></tr>
{% endfor %}
</table
</div>
{% else %}
	{{ noep }}
{% endif %}
{% endblock %}
