{% extends "layout.html" %}
{% block head %}
	<title>{{ podcastid[1] }} | Add a new episode</title>
	<script src="{{ url_for('static', filename='js/tinymce/tinymce.min.js') }}">
	</script>
	<script src="{{ url_for('static', filename='js/plupload/plupload.full.min.js') }}">
	</script>
	<script type="text/javascript">
	tinymce.init({
		selector: "textarea",
		plugins: "textcolor autolink link",
		toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor",
		width: 500
	});
	</script>
{% endblock %}
{% block body %}
		<div class="container">
        {% if error %}<p style="color:red">Error: {{error}}</p> {% endif %}
		<div id="map"><a href="{{ url_for('admin.show_casts') }}">Cast Administration</a> &raquo; <a href="{{ url_for('admin.show_eps', castname=podcastid[1]) }}">{{ podcastid[1] }}</a> &raquo; Add new episode to "{{ podcastid[1] }}"</div>
        <div id="form"><form action="{{ url_for('admin.new_ep', castname=podcastid[1]) }}" method="POST" enctype="multipart/form-data">
            <dl>
                <dt>Episode name:
                <dd><input type="text" size=30 name="epname" />
                <dt>Description:
                <dd><textarea name="description">Enter your description here.</textarea>
				<dt>File:
				<ul id="filelist"></ul>
				<br />

				<div id="container">
				    <a id="browse" href="javascript:;">[Browse...]</a>
				    <a id="start-upload" href="javascript:;">[Start Upload]</a>
				</div>
				<dd><input type="hidden" id="file-upload" name="file-upload" value="">
                <dd><input type="submit" id="submit-button" value="Add podcast episode" disabled>
            </dl>
        </form></div>
	</div>

	<script type="text/javascript">
	var uploader = new plupload.Uploader({
	browse_button: 'browse', // this can be an id of a DOM element or the DOM element itself
	url: '/upload',
	multi_selection: false,
	filters: {
		mime_types: [
			{title: "Audio files", extensions: "mp3,ogg,spx,opus"}
			]
	}
	});

	uploader.init();

	uploader.bind('FilesAdded', function(up, files) {
	  var max_files = 1;
	  if (up.files.length > max_files) {
		up.splice(max_files);
		window.alert("No more than one file to be uploaded.");
	  }
      else {
	  var html = '';
	  plupload.each(files, function(file) {
	    html += '<li id="' + file.id + '">' + file.name + ' (' + plupload.formatSize(file.size) + ') <b></b></li>';
	  });
	  document.getElementById('filelist').innerHTML += html;
      }
	});
	uploader.bind('UploadProgress', function(up, file) {
	  document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = '<span>' + file.percent + "%</span>";
	});
	uploader.bind('FileUploaded', function(up, file) {
      document.getElementById("file-upload").value = file.name;
	});
	uploader.bind('UploadComplete', function() {
	  document.getElementById("submit-button").disabled = false;
	});
	document.getElementById('start-upload').onclick = function() {
    uploader.start();
    };
	</script>
{% endblock %}
