{% extends "layout.html" %}
{% block head %}
	<title>Binbogami</title>
{% endblock %}
{% block body %}
<div class="colourtwo">
	<div class="container">
		<div class="fp-images">
			<div class="fp-image">
				<img src="{{ url_for('static', filename='1.png') }}"><h1>Unlimited storage</h1></div>
			<div class="fp-image">
				<img src="{{url_for('static', filename='3.png')}}"><h1>Unlimited bandwidth</h1></div>
			<div class="fp-image">
				<img src="{{url_for('static', filename='2.png')}}"><h1>iTunes-ready feeds</h1></div>
		</div>
	</div>
</div>
<div class="container">
	<div class="front-left"><h1>Features</h1>
		We're not ones for marketing: we would rather not mislead as to the capabilities of our products and let their use speak for them, rather than anything that could be embellished or exaggerated in any sense by the desire for a pet project to be seen as a little more than it actually is. This is something that has been worked on solely out of disaffection for products currently on the market in the podcast space, and the clear need for a service that is neither paid nor freemium, but truly free.
		<h2>Current features</h2>
		<ul>
			<li>Automatic generation of iTunes Store compliant XML, without fiddling around hoping that descriptions or other provided information doesn't break the feed.
			<li>Unlimited bandwidth for podcast downloads and uploads.
			<li>Unlimited storage for podcast episodes.
			<li>Manage multiple podcasts within one user account: perfect for small podcast networks.
			<li>Support for Speex, Opus, Vorbis and MP3 media.
		</ul>
		<h2>Forthcoming features</h2>
		<ul>
			<li>WordPress integration: publish only once, but have your podcast feed updated to match latest podcast posts on your website.
			<li>Podcast migration tool: effortlessly migrate current podcasts from providers such as Podbean and LibSyn to the Binbogami platform.
		</ul>
	</div>
	<div class="front-right"><h1>User stories</h1>
		Given that Binbogami is a new service, it's hard to say what people will make of it. It should known, however, that is a strong drive towards continuous improvement at our heart.
 </div>
{% endblock %}
