<html>
    <head>{% block head %}{% endblock %}<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}" />
    </head>
    <body>
		<div class="colourone">
			<div class="container">
				<div class="banner">
					<a href="/"><img src="{{ url_for('static', filename='logo.png') }}"/></a>
				<div id="nav">
					{% if session %}
          <a href="{{ url_for('frontpage.index') }}">home</a> <a href="{{ url_for('admin.show_casts') }}">admin</a> <a href="{{ url_for('admin.user_admin') }} ">settings</a> <a href="{{ url_for('log.logout') }}">log out</a>
					{% else %}
					<a href="{{ url_for('frontpage.index') }}">home</a> <a href="{{ url_for('log.login') }}">log in</a> <a href="{{url_for('register.reg')}}">sign up</a>
					{% endif %}
				</div>
			</div>
			</div>
		</div>

		{% block body %}
		{% endblock %}
			</div>
	</body>
</html>
