<html>
    <head>{% block head %}{% endblock %}<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}" />
    </head>
    <body>
		<div class="colourone">
			<div class="container">
				<div class="topbar" style="float:left">
					<a href="/"><img src="{{ url_for('static', filename='logo.png') }}"/></a>
				</div>
				<div id="nav" style="float:right">
					<a href="{{ url_for('frontpage.index') }}">home</a> <a href="{{ url_for('admin.show_casts') }}">admin</a>
				</div>
			</div>
		</div>
		<div class="container">
		{% block body %}
		{% endblock %}
			</div>
	</body>
</html>
