{% extends "layout.html" %}
{% block head %}
	<title>{{ cast_details[2] }} | Edit Podcast</title>
{% endblock %}
{% block body %}
        {% if error %}<p style="color:red">Error: {{error}}</p> {% endif %}
        <form action="{{ url_for('admin.edit_cast', castname=cast_details[2]) }}" method="POST" enctype="multipart/form-data">
            <dl>
                <dt>Name: 
                <dd><input type="text" size=30 name="castname" value="{{ cast_details[2] }}"/>
                <dt>Description: 
                <dd><textarea name="description">{{ cast_details[3] }}</textarea>
				<dt>URL:
				<dd><input type="text" size=30 name="url" value="{{ cast_details[4] }}" />
				<dt>Image:
				<dd><img src="{{ cast_img_url }}">
				<dd><input type="file" size=30 name="img">
                <dd><input type="submit" value="Add podcast">
            </dl>
        </form>
{% endblock %}