{% extends "layout.html" %}
{% block head %}
	<script src="{{ url_for('static', filename='js/tinymce/tinymce.min.js') }}">
	</script>
	<script type="text/javascript">
	tinymce.init({
		selector: "textarea",
		plugins: "textcolor autolink link",
		toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor",
		width: 500
	});
	</script>
	<title>Add a new Podcast</title>
{% endblock %}
{% block body %}
		<div class="container">
        {% if error %}<p style="color:red">Error: {{error}}</p> {% endif %}
<div id="map"><a href="{{ url_for('admin.show_casts') }}">Cast Administration</a> &raquo; New cast</div>
        <div id="form"><form action="{{ url_for('admin.new_cast') }}" method="POST" enctype="multipart/form-data">
            <dl>
                <dt>Name: 
                <dd><input type="text" size=30 name="castname" />
                <dt>Description: 
                <dd><textarea name="description">Enter your description here.</textarea>
				<dt>URL:
				<dd><input type="text" size=30 name="url">
				<dt>Cover art <em>(images must be 1400x1400px in JPEG, PNG or GIF format)</em>:
				<dd><input type="file" size=30 name="img">
				<dt>Category:
				<dd>
					<select name="category">
					{% for category in itunes_categories %}
					<option type="checkbox"value="{{ category }}">{{ category }}</option>
					{% endfor %}
					</select>
                <dt>Explicit?
                <dd>
                <select name="explicit">
                    <option value="clean">Clean</option>
                    <option value="yes">Explicit content</option>
                </select>
                <dd><input type="submit" value="Add podcast">
            </dl>
        </form></div>
</div>
{% endblock %}