body {
	width: 100%;
	padding: 0px;
	margin: 0px;
	font: 12pt Arial;
}

.container {
	width: 900px;
	margin-left: -450px;
	position: relative;
	left: 50%;
}

.colourone {
	background: #005C1F;
	width: 100%;
	margin-bottom: 20px;
	line-height: 100px;
	height: 100px;
}

.topbar {
	line-height: 100px;
	position: relative;
	top: 5px;
} 

.topbar img {

}

#nav {
	font: 16pt Arial;
	height: 100px;
	line-height: 100px;
}

#nav a {
	color: #FFFFFF;
}

.podcast-table {
	width: 100%;
	border: none;
	border-collapse: collapse;
	background: white;
	margin-bottom: 20px;
}

.podcast-header {
	font-weight: bold;
	color: rgba(0,0,0,0.9);
	padding: 1em;
}

.podcast-header td {
	padding: 0.7em 1em 0.7em 1em;
	box-shadow: inset 0 -1px rgba(0,0,0,0.1), 
				inset 0 1px rgba(0,0,0,0.1);
}

.podcast-row {
	height: 100px;
	vertical-align: middle;
	-webkit-transition: background 0.5s, box-shadow 0.5s;
	-moz-transition: background 0.5s, box-shadow 0.5s;
	transition: background 0.5s, box-shadow 0.5s;
}

.podcast-row td {
	color: #000000;
	padding: 0.7em 1em 0.7em 1em;
	box-shadow: inset 0 -1px rgba(0,0,0,0.1), 
				inset 0 1px rgba(0,0,0,0.1);
}

.podcast-row:hover {
	background: rgba(0,0,0,0.1);
}

.podcast-name {
	font-weight: bold;
}

.podcast-image img {
	height: 100px;
}

a, a:hover, a:visited, a:active {
	color: #005C1F;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;