body {
	width: 100%;
	padding: 0px;
	margin: 0px;
	font: 12pt Arial;
}

.container {
	width: 60%;
	margin: 0px auto;
}

.colourone {
	background: #005C1F;
	width: 100%;
	margin-bottom: 0px;
	height: 100px;
}

.colourtwo {
	background: #9EDDB3;
	width: 100%;
	padding: 40px 0px;
}

.fp-images {
	margin: 0px auto;
	display: table;
}

.fp-image {
	width: 28%;
	text-align: center;
	padding: 0 20px;
	display: inline-block;
}

.fp-image h1 {
	color: #005C1F;
}

.fp-image img {
	width: 100%;
	padding-bottom: 10px;
}

#nav {
	font: 16pt Arial;
	vertical-align: center;
	float: right;
	line-height: 100px;
}

#nav a {
	color: #FFFFFF;
}

.podcast-table {
	width: 100%;
	border: none;
	border-collapse: collapse;
	background: white;
	margin-bottom: 20px;
}

.podcast-header {
	font-weight: bold;
	color: rgba(0,0,0,0.9);
	padding: 1em;
}

.podcast-header td {
	padding: 0.7em 1em 0.7em 1em;
	box-shadow: inset 0 -1px rgba(0,0,0,0.1), 
				inset 0 1px rgba(0,0,0,0.1);
}

.podcast-row {
	height: 100px;
	vertical-align: middle;
	-webkit-transition: background 0.5s, box-shadow 0.5s;
	-moz-transition: background 0.5s, box-shadow 0.5s;
	transition: background 0.5s, box-shadow 0.5s;
}

.podcast-row td {
	color: #000000;
	padding: 0.7em 1em 0.7em 1em;
	box-shadow: inset 0 -1px rgba(0,0,0,0.1), 
				inset 0 1px rgba(0,0,0,0.1);
}

.podcast-row:hover {
	background: rgba(0,0,0,0.1);
}

.stats-table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  background: white;
  margin-bottom: 20px;
}

.stats-header {
  font-weight: bold;
  color: rgba(0,0,0,0.9);
  padding: 1em;
}

.stats-header td {
  padding: 0.7em 1em 0.7em 1em;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.1),
    inset 0 1px rgba(0, 0, 0, 0.1); 
}

.stats-row {
  vertical-align: middle;
  -webkit-transition: background 0.5s, box-shadow 0.5s;
  -moz-transition: background 0.5s, box-shadow 0.5s;
  transition: background 0.5s, box-shadow 0.5s;
}

.stats-row td {
  color: #000000;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.stats-row:hover {
  background: rgba(0, 0, 0, 0.1);
}

.podcast-name {
	font-weight: bold;
}

.podcast-image img {
	height: 100px;
}

a, a:hover, a:visited, a:active {
	color: #005C1F;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.form-image {
	height:300px;
}

dt {
	padding-top: 10px;
	padding-bottom:10px;
}

#form {
	width: 700px;
	position: relative;
	left: 50%;
	margin-left: -350px;
}

#form input[type="text"], #form select, #form input[type="password"] {
	border: 1px solid #EEE;
	padding: 10px;
	width: 500px;
	font: 12pt Arial;
	-moz-border-radius:15px;
	border-radius: 15px;
}

#form input[type="password"]:hover,
#form input[type="password"]:active,
#form input[type="text"]:hover,
#form input[type="text"]:focus,
#form select:hover,
#form select:focus {
	box-shadow: 0 0 10px #4EAE6E;
}

#map {
	padding-top:20px;
}

.front-left, .front-right {
	width: 49%;
}

.front-left {
	float:left;
}

.front-right {
	float:right;
}

.banner {
	line-height: 100px;
	vertical-align: middle;
}
